.Main .welcome_head {
  margin-left: 20px;
  margin-top: 10px;
}

.Main .cards_main_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Main .tex-div {
  height: 40px;
  display: flex;
  align-items: center;
}

.Main .Item_main_Col {
  height: 200px;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Main .tex-span{
    width: 50px;
}
